#root {
  color: red;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.episode-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 15px;
}

.episode-card img {
  width: 100%;
  border-radius: 5px;
}

#searchBar {
  width: 30%;
  padding: 10px;
  margin: 10px 0;
  border: solid;
  border-radius: 5px;
  font-size: 16px;
}

#episodeSelector {
  width: 30%;
  padding: 10px;
  margin: 10px 0;
  border:solid;
  border-radius: 5px;
  font-size: 16px;
}

a {
  display: block;
  margin-top: 10px;
  color: #0073e6;
  text-decoration: none;
}

footer {
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: silver;
  /* Dark background for contrast */
  color:black;
  /* Light text */
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
